# Учебный проект " Анализ пользовательского взаимодействия с карточками статей в Яндекс Дзен". Создание дашборда

> # Цели проекта:
- Создание дашборда для анализа взаимодействия с карточками статей в сервисе Яндекс Дзен

> # Задачи проекта:
- Импортировать библиотеки
- Провести коннекцию к базе данных
- Сформировать sql-запрос
- Проверить базу на наличие дубликатов и NaN
- Преобразовать базу в .csv - файл
- Создать дашборд на основе файла
- Подготовить презентацию с выводами по работе

In [1]:
# Импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Выполняем коннекцию к базе
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [3]:
# Выполняем sql-запрос
query = ''' select * from dash_visits '''
dash_visits  = pd.io.sql.read_sql(query, con = engine)

In [4]:
# Используем функцию из предыдущих проектов для вывода info(), проверки дубликатов и NaN
def info (dataframe):
    print (dataframe.info())
    print()
    print ('Количество duplicates:',dataframe.duplicated().sum())
    print()
    print('Количество NaN:')
    print(dataframe.isnull().sum())

In [5]:
# Выполняем функцию
info(dash_visits)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB
None

Количество duplicates: 0

Количество NaN:
record_id       0
item_topic      0
source_topic    0
age_segment     0
dt              0
visits          0
dtype: int64

Дубликатов и NaN нет, датафрейм не требует предобработки.

In [6]:
# Открываем датафрейм
dash_visits.sample(10)

,record_id,item_topic,source_topic,age_segment,dt,visits
26155,1066752,Семья,Ремонт,26-30,2019-09-24 18:33:00,1
1666,1042263,Дети,История,26-30,2019-09-24 18:58:00,13
20851,1061448,Психология,История,26-30,2019-09-24 18:58:00,7
1409,1042006,Дети,Еда,26-30,2019-09-24 19:00:00,9
25495,1066092,Семья,Еда,41-45,2019-09-24 18:54:00,4
26277,1066874,Семья,Сад и дача,31-35,2019-09-24 18:53:00,1
21576,1062173,Путешествия,Авто,26-30,2019-09-24 19:00:00,5
26640,1067237,Скандалы,Дети,26-30,2019-09-24 18:55:00,10
18896,1059493,Подборки,Семья,45+,2019-09-24 18:58:00,1
20526,1061123,Психология,Деньги,26-30,2019-09-24 18:56:00,2

In [7]:
# Преобразовываем в файл .csv и сохраняем в локальной папке
dash_visits.to_csv('~/Documents/Data_Analysis/dash_visits.csv')

Файл dash_visits.csv сохранен в локальной папке. Приступаем к созданию дашборда на его основе.

- Ссылка на дашборд (проверено на Safari, Google Chrome и Yandex браузере): https://public.tableau.com/app/profile/denis2814/viz/YP_zen_final/YP_zen
- <b>ВНИМАНИЕ! Если ссылка загружается слишком долго, нужно нажать фото в правом верхнем углу, выбрать "My Profile" и кликнуть на YP_zen_final.</b>

- Ссылка на презентацию в Яндекс Disk: https://disk.yandex.ru/i/6wd-S24fYBR06Q